// ASSETS
@font-face {
    font-family: 'WorkSans-Italic-VariableFont_wght';
    src: url(../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
}

@font-face {
font-family: 'WorkSans-VariableFont_wght';
src: url(../assets/fonts/WorkSans-VariableFont_wght.ttf);
}

// Variables
$default-font: 'WorkSans-VariableFont_wght';
$font-italic: 'WorkSans-Italic-VariableFont_wght';

$dark-purple: #301534;
$pink: #AD28EB;
$light-pink: #F8EEFF;
$pale-purple: #8B6990;
$white: #FFFFFF;

// Base Styles
* {
box-sizing: border-box;
}
html{
    margin: 0;
}
body{
    flex-direction: column;
    background-color: $light-pink;
    margin: 0;
}
.bgImageContainer{
    img{
        width: 100%;
        z-index: -1;
        position: absolute;
        object-fit: cover;
        height: 240px;
    }
}

// Main Layout
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .content {
        background-color: $white;
        padding: 24px;
        display: flex;
        flex-direction: column;
        font-family: $default-font;
        width: 327px;
        border-radius: .7rem;
        margin-top: 150px;
        }
}
.border{
    color: $light-pink;
    border: 1px solid;
}
// Button Styles
button.btn, img.btn {
    border: none; 
    background: none;
    padding: 0; 
        .contractBtn{
            display: none;
        }
    & when img {
        display: block; 
        width: 2rem; 
        height: auto;
    }
}

#titleContainer {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    color: $dark-purple;
    margin-block: -15px;
    .faqStar{
        width: 24px;
    }
}

// Section Styles
.section {
    .questionTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #questionTitleOne{
        padding-right: 30px;
    }
    .question{
        font-size: 16px;
        font-weight: 600;
    }
    a{
        text-decoration: none;
        color: $dark-purple;
    }
    a:hover{
        color: $pink;
    }
    p.textContent{
        color: $pale-purple;
        margin-block-start: 0;
        font-size: 14px;
        font-weight: 400;
        max-height: 0;
        overflow: hidden;    
        transition: max-height 0.1s ease-in-out; 
    }
}

@media (min-width: 600px) {
    .content{
        width: 600px !important;
        padding: 30px !important;
    }
    #titleContainer {
        display: flex; 
        flex-direction: row;
        gap: 20px;
        color: $dark-purple;
        margin-block: -20px;
        margin-block-start: -30px;
        font-size: 30px;
        .faqStar{
            width: 30px;
        }
    }
    .section {
        .questionTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #questionTitleOne{
            padding-right: 30px;
        }
        .question{
            font-size: 18px;
            font-weight: 600;
        }
        a{
            text-decoration: none;
            color: $dark-purple;
        }
        p.textContent{
            color: $pale-purple;
            margin-block-start: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;    
        }
    }
    .bgImageContainer{
        #bgImage{
            display: none;
    
        }
        #bgImageDesktop{
            width: 100%;
            object-fit: cover;
            height: 320px;
            z-index: -1;
            position: absolute;
            display: block;
        }
    }
}