// ASSETS
@font-face {
    font-family: 'WorkSans-Italic-VariableFont_wght';
    src: url(/assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
  }
@font-face {
font-family: 'WorkSans-VariableFont_wght';
src: url(/assets/fonts/WorkSans-VariableFont_wght.ttf);
}

// Variables
$default-font: 'WorkSans-VariableFont_wght';
$font-italic: 'WorkSans-Italic-VariableFont_wght';

$dark-purple: #301534;
$pink: #AD28EB;
$light-pink: #F8EEFF;
$pale-purple: #8B6990;
$white: #FFFFFF;

// Base Styles
* {
box-sizing: border-box;
}
html{
    margin: 0;
    // width: 375px;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $light-pink;
    margin: 0;
}
.bgImageContainer{
    #bgImage{
        // width: 375px;

    }
    img{
        width: 100%;
        z-index: -1;
        position: absolute;
    }
}

// Main Layout
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: -75px;
    
    .content {
        background-color: $white;
        padding: 24px;
        display: flex;
        align-content: center;
        flex-direction: column;
        font-family: $default-font;
        width: 327px;
        border-radius: .7rem;
        }
}
.border{
    color: $light-pink;
    border: 1px solid;
}
// Button Styles
button.btn, img.btn {
    border: none; // Remove default border for buttons
    background: none; // Remove default background for buttons
    padding: 0; // Remove default padding
        .contractBtn{
            display: none;
        }
// Specific style for img.btn
    & when img {
        display: block; // Remove any space below the image
        width: 2rem; // Specify the width
        height: auto; // Maintain aspect ratio
    }
}

#titleContainer {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    color: $dark-purple;
    margin-block: -15px;
    .faqStar{
        width: 24px;
    }
}

// Section Styles
.section {

    .questionTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #questionTitleOne{
        padding-right: 30px;
    }
    .question{
        font-size: 16px;
        font-weight: 600;
    }
    a{
        text-decoration: none;
        color: $dark-purple;
    }
    p.textContent{
        color: $pale-purple;
        margin-block-start: 0;
        font-size: 14px;
        font-weight: 400;
    }
    #answerOne{
        display: none;
    }
    #answerTwo{
        display: none;
        
    }
    #answerThree{
        display: none;
        
    }
    #answerFour{
        display: none;

    }
}
