// ASSETS
@font-face {
    font-family: 'WorkSans-Italic-VariableFont_wght';
    src: url(/assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
  }
@font-face {
font-family: 'WorkSans-VariableFont_wght';
src: url(/assets/fonts/WorkSans-VariableFont_wght.ttf);
}

// Variables
$default-font: 'WorkSans-VariableFont_wght';
$font-italic: 'WorkSans-Italic-VariableFont_wght';

// Base Styles
* {
box-sizing: border-box;
}
html {
margin: 0;
}

// Main Layout
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        font-family: $default-font;
        width: 327px;
        height: 527px;
        }
}

// Button Styles
button.btn, img.btn {
    border: none; // Remove default border for buttons
    background: none; // Remove default background for buttons
    padding: 0; // Remove default padding
    cursor: pointer; // Change cursor on hover

// Specific style for img.btn
    & when img {
        display: block; // Remove any space below the image
        width: 2rem; // Specify the width
        height: auto; // Maintain aspect ratio
    }
}

#titleContainer {
    display: flex; 
    flex-direction: row;
}

// Section Styles
.section {
    .questionTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p.textContent {
        display: none;
    }
}
